<div class="loginForm">
  <img src="assets/Landscape-Color.jpg">
  <div class="formDesing">
  <mat-icon class="leftArroow" matTooltip="BACK" (click)="goBack()">keyboard_backspace</mat-icon>
  <div class="container" style="position: relative;">
    <form [formGroup]="loginForm">
      <div class="form">
        <h4> Welcome Back </h4>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="abc@example.com" required>
          <mat-error *ngIf="myError('email','required')">Enter Your Email</mat-error>
          <mat-error *ngIf="myError('email','pattern')">Enter Correct Email</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'password' : 'visibility_off'}}</mat-icon>
          </button>
          <mat-error *ngIf="myError('password','required')">Enter Password in Correct Format</mat-error>
          <mat-error *ngIf="myError('password','pattern')">Password contain 8 characters and (A-Za-z0-9) and special characters. </mat-error>
        </mat-form-field><br><br/>
        <button mat-raised-button color="primary" id="backButton" type="submit" 
        (click)="onSubmit($event, loginForm)"> continue </button>
        <p>By signing in you accept our <span id="terms" routerLink="/termsconditions">Terms and Conditions</span></p>
        <p id="forgetPassword" routerLink="/forgetpassword">Forget Password?</p>
        <p>Create an account? <span id="terms" routerLink="/signup">Sign Up</span></p>
        <hr>
        <button mat-raised-button color="primary" id="nextButton" type="submit" 
        (click)="signUpWithGoogle()"><img src="assets/Google.webp"> Continue With Google </button>
      </div>
    </form>
    </div>

  </div>
</div>