<div class="updateValue">
  <mat-icon id="close" (click)="onClose()">close</mat-icon>
  <h4> Update Employee Detail </h4>
  <div class="container">
    <div class="form">
      <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)"> 
        <mat-form-field class="example-full-width">
          <input matInput name="id" [(ngModel)]="elements.id" placeholder="ID" readonly>       
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput name="name" [(ngModel)]="elements.name" placeholder="Name">
        </mat-form-field><br>

        <mat-form-field class="example-full-width">
          <input matInput name="age" [(ngModel)]="elements.age" placeholder="Age">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput name="salary" [(ngModel)]="elements.salary" placeholder="Salary">
        </mat-form-field><br>

        <mat-form-field class="example-full-width">
          <textarea matInput name="address" [(ngModel)]="elements.address" placeholder="Address"></textarea>
        </mat-form-field><br>
          <button type="submit" class="btn btn-primary">Update Details</button>
      </form>
    </div>
  </div>
</div>