<header id="header" class="navbar-wrapper-luxery sticky">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand d-lg-none" href="#"><img src="image/logo.png" alt="" class="mb-logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="#">Our story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="file:///C:/Users/RISHI/OneDrive%20-%20softnoida/Documents/HairProduct/GK-hair-new/product-detail.html">Tutorials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="file:///C:/Users/RISHI/OneDrive%20-%20softnoida/Documents/HairProduct/GK-hair-new/product-list.html">The Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>

        <a class="navbar-brand ds-none d-lg-block logohomecolor" href="file:///C:/Users/RISHI/OneDrive%20-%20softnoida/Documents/HairProduct/GK-hair-new/index.html"><img src="image/logo.png" alt=""></a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="file:///C:/Users/RISHI/OneDrive%20-%20softnoida/Documents/HairProduct/GK-hair-new/check-out.html">Find A solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="file:///C:/Users/RISHI/OneDrive%20-%20softnoida/Documents/HairProduct/GK-hair-new/contact-us.html">Contact us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header><!-- /header -->

<div class="terms-container">
  <h2 class="terms-heading">Terms and Conditions</h2>
  <div class="terms-content">
    <h4>1. Agree to Terms: </h4>
    <p>By using our service, you agree to these terms. If you do not agree to these Terms, you may not use the Service. If you are accessing and using the Service on behalf of a company (such as an employer) or other entity, you represent and warrant that you have the authority to bind that entity to these Terms. increase. In this case, "you" and "your" refer to that entity.</p><br>

    <h4>2. Privacy Policy</h4>
    <p>For information on how we collect, use and share your information, please read our Privacy Policy, which also applies to your use of the Service.</p><br>

    <h4>3. Changes to Terms or Services</h4>
    <p>We may update the Terms from time to time at our sole discretion. If we do so, we may notify you by posting the updated Terms on our website or send you other notices. It is important that you read these Terms whenever we update them or when you use the Service. Your continued use of the Service after we post updated Terms means you accept and agree to the changes. If you do not agree to any changes, you may no longer use the Service. As our Service evolves over time, we may change or discontinue all or any part of the Service at any time without notice, at our sole discretion.</p> <br>

    <h4>4. Accuracy of information</h4>
    <p>Occasionally, there may be information on the Site that contains typos, inaccuracies or omissions that may relate to promotions and offers. If any information on the Site or related services is inaccurate, we reserve the right to correct any errors, inaccuracies or omissions, change or update information or cancel orders at any time without prior notice. increase.</p><br>

    <h4>5. Feedback </h4>
    <p>We welcome feedback, comments, ideas, suggestions, and suggestions for improving our Services (“Feedback”). If you choose to submit Feedback, you agree that we may use your Feedback without restriction or compensation.</p><br>
   
    <p>By using this website, you agree to the terms and conditions stated above.</p>
    <p>If any thing releted to this website you can Ask in chat section or <a href="/contactus">Contact - Us</a>.</p>
  </div>
</div>
