<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <label>Password:</label>
  <input type="password" formControlName="password">
  <div *ngIf="passwordForm.get('password')?.hasError('required')">Password is required</div>


  <label>Confirm Password:</label>
  <input type="password" formControlName="confirmPassword">
  <div style="color:red" *ngIf="passwordForm?.hasError('passwordMismatch')">Passwords do not match</div>

  <button type="submit" [disabled]="!passwordForm.valid">Submit</button>
</form>